body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(31, 8, 52);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  